@import 'index';

.home {
    background-color: $pastel-yellow-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;

    .home-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        .home-text {
            width: 40%;
            text-align: center;
            border: 1px solid #bb9f003b;
            // border-bottom: 1px dotted #bb9f0079;
            // margin-top: 2rem;
            padding: 3rem 2rem 2rem;
            margin: 2rem;
            // background-color: #fff7cc;
            border-radius: 0.5rem;
            box-shadow: 1px 1px 3px #5f5b331e;
            
            p {
                padding: 0.5rem 0 1.5rem;
            }
            h4 {
                color: #bb9f00;
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        .main {
            width: 39vw;
            border-radius: 0.5rem;
        }
    }

    .logo {
        width: 15vw;
        margin: 2rem 0 3rem;
    }

    .home-img {
        margin: 2rem;
        img {
            width: 60vw;
            border-radius: 0.2rem;
        }
    }
}