/* COLORS */
$pastel-red: #ffd6db;
$pastel-red-light: #fff2f3;
$pastel-red-text: #ff4b5d;
$pastel-orange: #ffe7cb;
$pastel-orange-light: #fff5e9;
$pastel-orange-text: #ff9d2c;
$pastel-yellow: #ffffba;
$pastel-yellow-light: #ffffdc;
$pastel-green: #ceffd9;
$pastel-green-light: #e9ffee;
$pastel-green-text: #00cc2c;
$pastel-blue:	#c8e7ff;
$pastel-blue-light:	#e0f1ff;
$pastel-blue-text:	#4eb2ff;
$pastel-purple: #e0d0ff;
$pastel-purple-light: #f0e9ff;
$pastel-purple-text: #8644ff;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet');
// font-family: 'Rubik', sans-serif;
// font-family: 'Amatic SC', cursive;

/* BASICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    direction: rtl;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}