@import 'index';

.nav {
    background-color: $pastel-yellow;
    display: flex;
    align-items: center;
    height: 3rem;
    box-shadow: inset 1px 1px 4px rgba(66, 64, 34, 0.651);

    img {
        margin-right: 2rem;
        width: 6rem;
    }

    .navbar {
        top: 1.5rem;
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.5rem;

        .nav-items {
            .nav-item {
                margin: 0 1.5rem;
                font-size: 1.1rem;
                color: #bb9f00;
                transition: all .1s ease-in-out;
                width: 10%;
                padding: 0.3rem 0.5rem;
                border-bottom: 0.1rem solid #bb9f0081;
            }
            .nav-item:hover {
                border-bottom: 0.1rem solid #bb9f00;
            }
        }
    }
}

.nav-blue {
    background-color: $pastel-blue;

    .navbar {
        .nav-items {
            .nav-item {
                color: $pastel-blue-text;
                border-bottom: 0.1rem solid #74c3ff8e;
            }
            .nav-item:hover {
                border-bottom: 0.1rem solid $pastel-blue-text;
            }
            .selected {
                border-bottom: 0.1rem solid $pastel-blue-text;
            }
        }
        
    }
}

.nav-green {
    background-color: $pastel-green;
    .navbar {
        .nav-items {
            .nav-item {
                color: $pastel-green-text;
                border-bottom: 0.1rem solid #00cc2c56;
            }
            .nav-item:hover {
                border-bottom: 0.1rem solid $pastel-green-text;
            }
            .selected {
                border-bottom: 0.1rem solid $pastel-green-text;
            }
        }
    }
}

.nav-red {
    background-color: $pastel-red;
    .navbar {
        .nav-items {
            .nav-item {
                color: $pastel-red-text;
                border-bottom: 0.1rem solid #ff4b5d73;
            }
            .nav-item:hover {
                border-bottom: 0.1rem solid $pastel-red-text;
            }
            .selected {
                border-bottom: 0.1rem solid $pastel-red-text;
            }
        }
    }
}

.nav-purple {
    background-color: $pastel-purple;
    .navbar {
        .nav-items {
            .nav-item {
                color: $pastel-purple-text;
                border-bottom: 0.1rem solid #8644ff5e;
            }
            .nav-item:hover {
                border-bottom: 0.1rem solid $pastel-purple-text;
            }
            .selected {
                border-bottom: 0.1rem solid $pastel-purple-text;
            }
        }
    }
}

.nav-orange {
    background-color: $pastel-orange;
    .navbar {
        .nav-items {
            .nav-item {
                color: $pastel-orange-text;
                border-bottom: 0.1rem solid #ff9d2c65;
            }
            .nav-item:hover {
                border-bottom: 0.1rem solid $pastel-orange-text;
            }
            .selected {
                border-bottom: 0.1rem solid $pastel-orange-text;
            }
        }
    }
}